.appbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: black 3px solid;
  margin-bottom: 30px;
}

.link {
  background-color: rgb(72, 170, 235);
  padding: 10px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px;
  transition: transform 500ms ease;
}

.link:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.active {
  background-color: rgb(114, 203, 245);
  color: beige;
}
