.btn {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 20px;
  margin-left: 20px;
}

.btn:hover {
  background-color: rgb(72, 170, 235);
  outline: 0;
}
